.head{    
    color: red;
    background-image: url("../messi.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 50vh;
}
.layout{
    color: white;
}

table,th,td{

    border: 1px none black;

}